body {
    background-color: rgb(253, 251, 251);
    margin: auto;
}

.div-margin {
    margin-left: 20px;
}

h1 {
    text-align: center;
    color: white;
}

#cabecalho {
    top: 0;
    background-color: rgb(43, 134, 96);
    padding: 20px;
}

.div-display {
    display: inline-block;
}

.div-section {
    /* background-color: rgba(126, 126, 126, 0.397); */
    width: 410px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px;
}

.edid-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.lado-esquerdo {
    display: inline-block;
    border-right:  1px black solid;
}

.lado-direito {
    display: inline-block;
    padding-left: 40px;
}

#rodape {
    position: absolute;
    bottom: 0;
    background-color: rgb(43, 134, 96);
    padding-top: 40px;
    width: 100%;
}

a {
    color: white;
}

p {
    width: 500px;
    padding-right: 40px;
}
