body {
    background-color: rgb(253, 251, 251);
    margin: auto;
}

.div-margin {
    margin-left: 20px;
}

h1 {
    text-align: center;
    color: white;
}

#cabecalho {
    top: 0;
    background-color: rgb(43, 134, 96);
    padding: 20px;
}

.div-display {
    display: inline-block;
}

.div-section {
    background-color: rgba(43, 134, 96, 0.521);
    width: 410px;
    border-radius: 8px;
}

.edid-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

#rodape {
    position: absolute;
    bottom: 0;
    background-color: rgb(43, 134, 96);
    padding-top: 40px;
    width: 100%;
}

a {
    color: white;
}

p {
    width: 80%;
}
