body {
    background-color: rgb(253, 251, 251);
    margin: auto;
}

.align-to-center {
    align-items: center;
    margin: auto;
    width: 50%;
}

.align-to-center-par {
    align-items: center;
    margin: auto;
    width: 825px;
    margin-bottom: 40px;
}

.align-to-center-image {
    align-items: center;
    margin: auto;
    width: 25%;
    text-align: center;
    margin-bottom: 25px;
}

/* .div-margin {
    margin-left: 20px;
} */

h1 {
    text-align: center;
    color: white;
}

h2 {
    border-bottom: 1px black solid;
}

h3 {
    display: inline;
}

#cabecalho {
    top: 0;
    background-color: rgb(43, 134, 96);
    padding: 20px;
    margin-bottom: 40px;
}

.div-display {
    display: inline-block;
}

.div-section {
    /* background-color: rgba(126, 126, 126, 0.397); */
    width: 410px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px;
    margin-bottom: 50px;
}

.edid-image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.lado-esquerdo {
    display: inline-block;
    border-right:  1px black solid;
    padding-right: 10px;
    width: 400px;
}

.lado-direito {
    display: inline-block;
    padding-left: 10px;
    width: 400px;
}

#rodape {
    /* position: absolute; */
    bottom: 0;
    background-color: rgb(43, 134, 96);
    padding-top: 40px;
    width: 100%;
}

a {
    color: white;
}

